<div class="nav nav-tabs">
  <button *ngFor="let tab of tabs"
    [ngClass]="getTabClass(tab)"
    title={{tab.title}}
    name={{tab.name}}
    (click)="onTabClick($event)">
    {{tab.title}}
  </button>
</div>
<div class="tab-content">
  <div *ngIf="activeTab.title" class="tab-pane fade show active">
    <div *ngFor="let button of message?.attachment?.attachments[activeTab.name]">
      <button
        (click)="onButtonClick(button.title)"
        [disabled]="button.disabled">
        {{button.title}}
      </button>
    </div>
  </div>
</div>