<div class="nav nav-tabs">
  <button *ngFor="let tab of tabs"
    class="nav-link active"
    title={{tab.title}}
    (click)="onTabClick($event)">
    {{tab.title}}
  </button>
</div>
<div class="tab-content" id="myTabContent">
  <div [ngClass]="activeTab == 'Top Intents' ? 'tab-pane fade show active' : 'tab-pane fade'" id="home" role="tabpanel"
    aria-labelledby="home-tab">
    <div *ngFor="let button of message?.attachment?.attachments?.topIntents">
      <button
        (click)="onButtonClick(button.title)"
        [disabled]="button.disabled"
        placement="top bottom"
        container="body">
        {{button.title}}
      </button>
    </div>
  </div>
  <div [ngClass]="activeTab == 'Last Intents' ? 'tab-pane fade show active' : 'tab-pane fade'" id="profile"
    role="tabpanel" aria-labelledby="profile-tab">
    <div *ngFor="let button of message?.attachment?.attachments?.lastIntents">
      <button
        (click)="onButtonClick(button.title)"
        [disabled]="button.disabled"
        placement="top bottom"
        container="body">
        {{button.title}}
      </button>
    </div>
  </div>
</div>